{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>{{ user.nickname }}'s Profile</h2>

<ul>
    {% if user.img_profile %}
        <li>프로필이미지 : <br/><img src="{{ user.img_profile.url }}" width="10%" height="10%"/></li>
    {% else %}
        <li>이미지 없음 : <br/><img src="{% static 'img/anonym.jpg' %}" width="10%" height="10%"/></li>
    {% endif %}
        <li>이름 : {{ user.nickname }}</li>
        <li>이메일 : {{ user.email }}</li>
        <li>가입일자 : {{ user.date_joined }}</li>
        <li>자기소개 : {{ user.bio }}</li>
</ul>
<div>
    <a href="{% url 'accounts:profile_revise' %}">프로필 수정하기</a>
</div>
{% endblock %}