{% extends 'base.html' %}

{% block content %}
    <h1>프로필 수정하기</h1>
    <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div>
            <div>
                <div>
                    <strong>{{ profileform.img_profile.label_tag }}<strong></strong></strong>
                </div>
                {% if user.img_profile %}
                    <div><img src="{{ user.img_profile.url }}" width="10%" height="10%"/></div>
                {% endif %}
                <div>{{ profileform.img_profile }}</div>
                <div><small>25MB 이하 이미지만 가능합니다</small></div>
            </div><br/>
            <div>
                <div><strong>{{ profileform.nickname.label_tag }}</strong></div>
                <div>{{ profileform.nickname }}</div>
                <div><small>특수문자를 사용할 수 없습니다</small></div>
            </div><br/>
            <div>
                <div><strong>{{ profileform.phone_number.label_tag }}</strong></div>
                <div>{{ profileform.phone_number }}</div>
                <div><small>"-"를 포함해서 형식에 맞게 써주세요</small></div>
            </div><br/>
            <div>
                <div><strong>{{ profileform.bio.label_tag }}</strong></div>
                <div>{{ profileform.bio }}</div>
                <div><small>친구가 나를 찾을 때 프로필 상단에 표시됩니다</small></div>
            </div>
            <br/>

            <button type="submit">수정하기</button>
        </div>
    </form>
{% endblock %}

