{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div style="font-size: 26px">
                    프로필 수정하기
                </div><br/>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div>
                    <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                        {% if user.img_profile %}
                            <div><img src="{{ user.img_profile.url }}"style="width:150px; height: 150px"/></div><br/>
                        {% else %}
                            <div><img src="{% static 'img/anonym.jpg'  %}"style="width:150px; height: 150px"/></div><br/>
                        {% endif %}
                        <div style="margin-left: 50px">{{ profileform.img_profile|as_crispy_field }}</div>
                        <div><small>25MB이하 파일만 가능합니다</small></div><br/>
                        <div>{{ profileform.nickname|as_crispy_field }}</div>
                        <div>{{ profileform.phone_number|as_crispy_field }}</div>
                        <div>{{ profileform.bio|as_crispy_field }}</div>
                        <div>
                            <button type="submit" class="btn btn-primary">수정하기</button>
                        </div>
                    </form>
                </div>
                <br/>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>


{% endblock %}

