{% extends 'base.html' %}

{% block content %}
    <div>
        <div>
            <br/><h2>스터디 어드밋 회원가입</h2><br/>
        </div>
        <form action="" method="post">
            {% csrf_token %}

            <div style="background-color: whitesmoke"><br/>
                <h5>기본 로그인 정보를 입력해주세요</h5><br/>
                <div>
                    <div><strong>{{ form.username.label_tag }}</strong></div>
                    <div>{{ form.username }}</div>
                    <div><small>{{ form.username.errors }}</small></div>
                </div><br/>
                <div>
                    <div><strong>{{ form.password1.label_tag }}</strong></div>
                    <div>{{ form.password1 }}</div>
                    <div><small>비밀번호는 8자리 이상, 특수문자(.,-,= 제외)/영문/숫자를 섞어주세요</small></div>
                    <div><small>{{ form.password1.errors }}</small></div>
                </div><br/>
                <div>
                    <div><strong>{{ form.password2.label_tag }}</strong></div>
                    <div>{{ form.password2 }}</div>
                    <div><small>확인을 위해 비밀번호를 한번 더 입력해주세요</small></div>
                    <div><small>{{ form.password2.errors }}</small></div>
                </div><br/>
                <div>
                    <div><strong>{{ form.email.label_tag }}</strong></div>
                    <div>{{ form.email }}</div>
                    <div><small>이메일 형식에 맞게 입력해주세요</small></div>
                    <div><small>{{ form.email.errors }}</small></div>
                </div><br/>
            </div>

            <div style="background-color: antiquewhite">
                <br/><h5>프로필에 들어갈 정보를 입력해주세요</h5><br/>
                <div>
                    <div><strong>{{ form.nickname.label_tag }}</strong></div>
                    <div>{{ form.nickname }}</div>
                    <div><small>작성된 닉네임은 프로필에 보여집니다</small></div>
                    <div><small>특수문자를 사용할 수 없습니다</small></div>
                    <div><small>{{ form.nickname.errors }}</small></div>
                </div><br/>
                <div>
                    <div><strong>{{ form.phone_number.label_tag }}</strong></div>
                    <div>{{ form.phone_number }}</div>
                    <div><small>'-' 를 포함하여 작성해주세요</small></div>
                    <div><small>{{ form.phone_number.errors }}</small></div>
                </div><br/>
            </div>
            <input type="submit">
        </form>
    </div>
{% endblock %}