{% extends 'base.html' %}
{% load imagekit %}

{% block content %}

<h1>{{ homework.title }}</h1>

{{ homework.content|linebreaks }}

{% if homework.photo %}
    {% thumbnail "100x100" homework.photo %}
{% endif %}

{% if homework.file %}
    <a href="{% url 'studypost:homework_download' homework.file.path %}" class="btn btn-secondary">첨부파일</a>
{% endif %}

<hr>

{% if homework.author == request.user %}
    <a href="{% url "studypost:homework_edit" homework.id %}" class="btn btn-secondary">수정</a>
    <a href="{% url "studypost:homework_delete" homework.id %}" class="btn btn-secondary">삭제</a>
{% endif %}
<a href="{% url 'studypost:notice_list' group.id %}" class="btn btn-primary">글목록</a>
{% endblock %}