{% extends 'group_base.html' %}
{% load imagekit %}

{% block content %}

<script src="https://kit.fontawesome.com/6e27c4910b.js"></script>

<style>
    form {
        font-family: 'KoPub Dotum';
    }

    .btn-default {
        background-color: #1976D2;
        color: #ebebeb;
    }

</style>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="text" name="title" style="width: 820px; height: 50px; font-weight: bold; padding: 5px;" placeholder="글 제목" value="{% if form.title.value %}{{ form.title.value }}{% endif %}">

    <textarea type="text" name="content" style="width: 820px; height: 500px; padding: 5px;" placeholder="여기를 눌러서 글을 작성하세요.

스터디 전반에 대해 공지를 할 수 있는 공간입니다.
과제, 이벤트, 홍보 등 여러 소식을 스터디원들에게 알려주세요!
필요하다면 첨부파일을 업로드할 수도 있습니다.">{% if form.content.value %}{{ form.content.value }}{% endif %}</textarea>

    <div class="input-group mt-3" style="width: 820px;">
        <div class="custom-file">
            <input type="file" name="photo" class="custom-file-input" id="inputGroupFile01">
            <label class="custom-file-label" for="inputGroupFile01" aria-describedby="inputGroupFileAddon01">사진 업로드</label>
        </div>
    </div>

    <div class="input-group mt-3 mb-3" style="width: 820px;">
        <div class="custom-file">
            <input type="file" name="file" class="custom-file-input" id="inputGroupFile02">
            <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">첨부 파일</label>
        </div>
    </div>

    <div class="submit-wrapper d-flex justify-content-end">
        <div>
            <input type="submit" class="btn btn-default mt-3" value="글 올리기">
        </div>
    </div>
</form>


{% endblock %}