{% extends 'base.html' %}


{% block content %}

<div class="dropdown mt-3">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    공지 올리기
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="{% url "studypost:notice_new" group.id %}">모임 공지</a>
    <a class="dropdown-item" href="{% url "studypost:homework_new" group.id %}">과제 공지</a>
  </div>
</div>

<div>
    <a href="{% url "studypost:notice_list" group.id %}">모임 History</a>
    <a href="{% url "studypost:homework_list" group.id %}">과제 History</a>
</div>

{% endblock %}