<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <style>
        a{
            text-decoration: None;
        }
    </style>
</head>
<body>
<header>
    {% if user.is_authenticated %}
        <div>
            <a href="{% url 'study:mystudy' %}"><h2>스터디 어드밋(study admit)</h2></a>
            <p>당신의 스터디를 관리해드리겠습니다</p>
        </div>
        <div style="background-color: antiquewhite; padding:1px; margin-top: 10px">
            <p>{{ user }}님 안녕하세요 </p>
            <a href="{% url "accounts:profile" %}"> {{ user }} </a>&nbsp; &nbsp;
            <a href="{% url "study:mystudy" %}"> 내 스터디로 가기 </a>&nbsp; &nbsp;
            <a href="{% url "accounts:logout" %}" onclick="return confirm('오늘 공부는 다 했나염?');">로그아웃</a>
        </div>
    {% else %}
        <div>
            <a href="{% url 'home' %}"><h2>스터디 어드밋(study admit)</h2></a>
            <p>당신의 스터디를 관리해드리겠습니다</p>
        </div>
        <div></div>
    {% endif %}

    {% if messages %}
    <div class="container">
        {% for message in messages %}
        <div class="alert alert-info mt-3" role="alert">
            {{ message.message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

</header>
{% block content %}
{% endblock %}
</body>
</html>