{% extends 'base.html' %}

{% block content %}
<h1>{{ group.group_name }}의 과제 현황 >_<</h1>

가장 최근 항목만 표시됩니다. Click for details.<br/><br/>

<a href="{% url "assignment:assignment_list" group.id %}">과제</a>:

{% if assignment == None %}
    등록된 과제 없음.
{% else %}
    <a href="{% url "assignment:assignment_detail" assignment.id %}">{{ assignment.title }}</a> - {{ assignment.due_date }}까지 <br/><br/>
    가장 최근 인증:
    {% if done == None %}
        등록된 인증 없음. 1빠 해볼까요~~?
    {% else %}
        <a href="{% url "assignment:done_detail" done.id %}">{{ done.author }}님의 인증</a>
    <img src="{{ done.done_img.url }}" height="200"/>
    {% endif %}

{% endif %}
{% endblock %}
