{% extends 'base.html' %}

{% block content %}

<h1>{{ assignment.title }}</h1>

{{ assignment.content|linebreaks }}
{{ assignment.due_date }} 까지

{% if user in authors %}
    <p>이미 인증하셨습니다! 멋져요~>_<</p>
{% else %}
    <button type="button" onclick="location.href='{% url 'assignment:done_new' assignment.id%}' ">인증하기</button>
{% endif %}

<h2>인증한 사람들 </h2>

{% if num == 0 %}
    아직 아무도 과제를 끝내지 못했어요! 얼른 앞서나가 볼까요~?
{% else %}
    {% for done in dones %}
        <table>
            <td>{{ done.index_in_assignment }}등</td>
            <td><a href="{% url "assignment:done_detail" done.id %}">{{ done.author }}</a></td>
        </table>
    {% endfor %}
{% endif %}

{% endblock %}