{% extends 'base.html' %}

{% block content %}

<h1>Group List</h1>

<div class="search_bar">
    <form action="" method="get">
        <input type="text" name="g" value="{{ g }}"/>
        <input type="submit" value="검색" class="btn btn-primary">
    </form>
</div>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>그룹명</th>
        </tr>
    </thead>

    <tbody>

        {% for group in all_group_list %}
        <tr>
            <td><a href="{% url "study:all_group_detail" group.id %}">{{group.group_name}}</a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>



<hr>

<a href="{% url 'study:group_new' %}" class="btn btn-primary">스터디 만들기</a>

{% endblock %}