{% extends 'group_base.html' %}

{% block content %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        span {
            color: blue;
        }
    </style>


    <h1>Group Details </h1>

    <div>
        <h4>초대 링크 :</h4>
        <input type="text" value="http://127.0.0.1:8000/study/invitation/{{ group.invitation_url }}" id="link"
               readonly/>
        <button onclick="myFunction()">초대 링크 복사</button>
    </div>
    <hr/>

    <div>
        <h4>구성원</h4>
        <ul style="list-style: none;">
            {% for member in membership_manager %}
                <li style="color:dodgerblue;">{{ member.person.nickname }}(관리자)</li>
                <a href="{% url 'study:member_info' member.id %}" class="btn btn-secondary">info</a>
            {% endfor %}
            {% for member in membership_staff %}
                <li style="color:deepskyblue;">{{ member.person.nickname }}(스탭)</li>
                <a href="{% url 'study:member_info' member.id %}" class="btn btn-secondary">info</a>
            {% endfor %}
            {% for member in membership_member %}
                <li>{{ member.person.nickname }}</li>
                <a href="{% url 'study:member_info' member.id %}" class="btn btn-secondary">info</a>
            {% endfor %}
            <li>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#invlinkModal">
                +
                </button>
            </li>
        </ul>
    </div>


<div class="modal fade" id="invlinkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">링크로 새 멤버 초대하기</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>다른 회원이 링크를 통해 접속하면 그룹에 가입할 수 있습니다.
        </p>
        <input type="text" value="http://127.0.0.1:8000/study/invitation/{{ group.invitation_url }}" id="link"
               readonly/>
        <button onclick="myFunction()">초대 링크 복사</button>

      </div>

    </div>
  </div>
</div>


    <hr/>

    <div>
        <h4>그룹정보</h4><br/>
        <div>
            <div><h5>{{ group.group_name }} 그룹 소개</h5></div>
            <div>{{ group.group_bio }}</div>
        </div><br/>
        <div>
            <div><h5>우리의 목표</h5></div>
            <div>{{ group.group_goal }}</div>
        </div><br/>
        <div>
            <div><h5>이것만은 꼭 지키자!</h5></div>
            <div>{{ group.group_rule }}</div>
        </div><br/>
    </div>
    <hr/>

    <div>
        <div>
            <h4>{{ group.group_name }}의 현황</h4>
            <button type="button" onclick="location.href='{% url "study:group_update" group.id %}'">업데이트</button>
            <small>{{ latest_update.created_at }} 기준</small>
        </div>


        <div>
            <p><strong>ㅇㅈ 랭킹</strong></p>
            <table border="2" , style="text-align: center;">
                <tr style="text-align: center;">
                    <th>등수</th>
                    <th>닉네임</th>
                    <th>ㅇㅈ개수</th>
                </tr>
                {% for member, i in memberships_zip %}
                    <tr style="text-align: center;">
                        <td>{{ i }}등</td>
                        <td>{{ member.person.nickname }}</td>
                        <td>{{ member.total_admit }}개</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br/>

        <div>
            <p><strong>벌금 현황</strong></p>

            <table border="2" , style="text-align: center">
                <tr style="text-align: center;">
                    <th>닉네임</th>
                    <th>지각</th>
                    <th>결석</th>
                    <th>과제 미제출</th>
                    <th>벌금</th>
                </tr>
                {% for member, i in penalty_list_zip %}
                    <tr style="text-align: center;">
                        <td>{{ member.person.nickname }}</td>
                        <td>{{ member.late_attend }}회</td>
                        <td>{{ member.noshow_attend }}회</td>
                        <td>{{ member.noshow_assign }}회</td>
                        <td>{{ member.total_penalty }}원</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <hr/>

    <div>
        <h4><a href="{% url 'studypost:notice_list' group.id %}">스터디 공지</a></h4>
        <div>
            {% for notice_post in notice_posts %}
                <br/>
                <div>
                    <div><a href="{% url "studypost:notice_detail" notice_post.id %}">{{ notice_post.title }}</a></div>
                    <div>게시일: {{ notice_post.created_at }}</div>
                    <div>글쓴이: {{ notice_post.author.nickname }}</div>
                </div>
                <br/>
            {% endfor %}
        </div>
    </div>
    <hr/>

    <div>
        <h4><a href="{% url 'attendance:attend_list' group.id %}">출석하기</a></h4>
        <div>
            {% for attend_post in attend_posts %}
                <br/>
                <div>
                    <div>
                        <a href="{% url 'attendance:attend_list' group.id %}">{{ attend_post.title }}</a>
                    </div>
                    <div>출석 가능 여부 : {{ attend_post.attend_status }}</div>
                    <div>출석 만료 시간 : {{ attend_post.expired_datetime }}</div>
                </div>
                <br/>
            {% endfor %}
        </div>
    </div>
    <hr/>

    <div>
        <h4><a href="{% url 'assignment:assignment_list' group.id %}">과제 인증하기</a></h4>
        <div>
            {% for assign_post in assign_posts %}
                <br/>
                <div>
                    <div><a href="{% url "assignment:assignment_detail" assign_post.id %}">{{ assign_post.title }}</a></div>
                    <div>{{ assign_post.due_date }} {% if assign_post.due_date <= now %}(만료){% endif %}</div>
                </div>
                <br/>
            {% endfor %}
        </div>
    </div>
    <hr/>

    <script>
        function myFunction() {
            var copyText = document.getElementById("link");
            copyText.select();
            document.execCommand("copy");
            alert("초대 링크를 복사했습니다." + copyText.value);
        }
    </script>

    <!--  alert("초대 링크를 복사했습니다." + copyText.value);-->

{% endblock %}