<!--연습용-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

</head>
<body>

<!--<script>-->

<!--    $('#dropdownMenuButton').ready(function () {-->
<!--        var id = $('#2').val();-->
<!--        $("#"+id ).click(function () {-->
<!--            $("#div1").load("#contents"+id);-->
<!--        });-->
<!--    });-->
<!--</script>-->

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div class="dropdown-item"><input type="button" value="규칙추가" onclick="acyncMovePage('#contents1')">규칙 추가</input></div>
      <div class="dropdown-item"><input type="button" value="과제규칙추가" onclick="acyncMovePage('#contents2')">과제 규칙 추가</input></div>
      <div class="dropdown-item"><input type="button" value="출석규칙추가" onclick="acyncMovePage('#contents3')">출석 규칙 추가</input></div>
  </div>
</div>

<input type="button" value="규칙추가" onclick="acyncMovePage('contents1.html')">규칙 추가</input>


<div id="bodyContents">
11
</div>


<script>

    function acyncMovePage(url){
        var ajaxOption = {
            url:url,
            async:true,
            type:"GET",
            dataType:"html",
            cache:false
        };

        $.ajax(ajaxOption).done(function(data){
            $('#bodyContetns').children().remove();
            $('#bodyContents').html(data);
        });
    }
</script>




<div id="contents1">가나다</div>
<!--<div id="contents2">contents2</div>-->
<!--<div id="contents3">contents3</div>-->


<!--<a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>-->

<!--  &lt;!&ndash; Dropdown Structure &ndash;&gt;-->
<!--  <ul id='dropdown1' class='dropdown-content'>-->
<!--      <li id="1"><input type="hidden" value="1"><a href="#!">one</a></input></li>-->
<!--      <li id="2"><input type="hidden" value="2"><a href="#!">one</a></input></li>-->
<!--      <li id="3"><input type="hidden" value="3"><a href="#!">one</a></input></li>-->
<!--      <li id="4"><input type="hidden" value="4"><a href="#!">one</a></input></li>-->

<!--&lt;!&ndash;    <li id="2"><a href="#!">two</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li id="3"><a href="#!">three</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li id="4"><a href="#!">four</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li id="5"><a href="#!">five</a></li>&ndash;&gt;-->
<!--  </ul>-->

</body>
</html>

