<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>
</head>
<body>


<div class="notice"></div>

<div class="container">

    <div class="row">
        <div class="assignment col-6 border rounded">
            진행중인 과제
            {% if not latest_assignment %}
            <div><p>등록된 과제가 없습니다.</div>
            {% else %}
            <div class="latest_assignment">
                <div><h3>{{ latest_assignment.title }}</h3></div>
                <div>
                        <strong>제출 기한:</strong>{{ latest_assignment.due_date }} {% if latest_assignment.due_date <= now %}(만료){% endif %}
                </div>


                <div class="assignment_set">
                    {% for done in dones %}
                    <div class="인증 col-4 border rounded" style="float: left; text-align: center;">

                        <h4>{{ done.author.nickname }}님</h4>

                        <img class="scale" src="{{ done.done_img.url }}" height="100"
                        data-toggle="modal" data-target="#imgModal"/>

                        <div class="modal fade" id="imgModal" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img class="scale" src="{{ done.done_img.url }}" height="600"/>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                </div>
                            </div>
                        </div>

                        <br/>
                        {{ done.created_at }} 에 인증!
                        <br/>
                        {% if done.author == request.user %}
                        <p>나의 ㅇㅈ수:{{ done.injung }}</p>
                        {% else %}
                        <button type="button" onclick="location.href='{% url 'assignment:injung_plus' done.id%}' ">인정!</button> {{ done.injung }}
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>

                {% if not user in authors %}
                {% if not latest_assignment.due_date <= now %}
                <div class="인증 col-4 border rounded" style="float: left; text-align: center;">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#assModal">
                        내 과제 인증하기
                    </button>
                </div>
                {% else %}
                <p>만료된 과제입니다.</p>
                {% endif %}
                {% endif %}

            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="attendance col-6 border rounded">
            진행중인 출석
            {% if not latest_attend %}
            <div>
                <p>진행중인 출석이 없습니다.</p>
                {% if usermembership.is_manager %}
                <a href="{% url 'attendance:attend_new' group.id %}"><button>출석 생성하기</button></a>
                {% endif %}
            </div>
            {% else %}
            <div class="latest_attendance">
                <div><h3>{{ latest_attend.title }}</h3></div>
                <div> {# 출석 띄우기 #}
                    <div>
                        <strong>모임일시:</strong>{{ latest_attend.gather_datetime }}
                    </div>
                    <div>
                        <strong>출석 가능 기한:</strong>{{ latest_attend.expired_datetime }}
                    </div>
                </div>
                <hr/>

                <div> {# 출석용 폼 띄우기 #}
                    {% if not confirm_value %}
                    <div>
                        <p>출석 완료하셨습니다 :)</p>
                    </div>

                    {% elif latest_attend.attend_status == '정상 출석 가능' %}
                    <div>
                        <form action="#" method="POST">
                            {% csrf_token %}
                            <div>{{ attendform.as_p }}</div>
                            <div>스터디장에게 문의한 후 출석코드를 입력하세요</div>
                            <div>현재 정상 출석 가능합니다</div>
                            <input type="submit" name="attendance" value="출석하기"/>
                        </form>
                    </div>
                    {% elif latest_attend.attend_status == '지각 출석 가능' %}
                    <div>
                        <form action="#" method="POST">
                            {% csrf_token %}
                            <div>{{ attendform.as_p }}</div>
                            <div>스터디장에게 문의한 후 출석코드를 입력하세요</div>
                            <div>현재 지각 출석입니다</div>
                            <input type="submit" name="attendance" value="출석하기"/>
                        </form>
                    </div>

                    {% else %}
                    <div>
                        <div>{{ latest_attend.attend_status }}입니다. 출석 할 수 없습니다.</div>
                    </div>
                    {% endif %}
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>








<div class="modal fade" id="assModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">과제 인증하기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" enctype="multipart/form-data" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ latest_assignment.title }} 과제 인증
                    <table>
                        {{ doneform.as_table }}
                    </table>
                </div>
                <div class="modal-footer">
                    <input type="submit" name="assignment">
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>