{% extends 'group_base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<style>
    * {
        font-family: 'KoPub Dotum';
        font-size: 14px;
        font-weight: bold;
    }

    * > h3 {
        font-family: 'KoPub Dotum';
    }

    * > h5 {
        font-weight: bold;
    }

    * > h6 {
        font-weight: normal;
    }
</style>

<script>
    $('.collapse').collapse()

</script>

<script>
    $(function() {
        $('#staffin').attr('disabled', 'disabled');

        $('.stfin_checkbox').click(function(){
            if($(this).prop('checked')  === false){
                $('#staffin').attr('disabled', 'disabled');
            }else {
                $('#staffin').removeAttr('disabled');
            }
        });

        $('#managerin').attr('disabled', 'disabled');

        $('.mgin_radio').click(function(){
            if($(this).prop('checked')  === false){
                $('#managerin').attr('disabled', 'disabled');
            }else {
                $('#managerin').removeAttr('disabled');
            }
        });

    });
</script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="row">
    <h3 style="font-weight: bold; "><i class="material-icons">settings</i>그룹 설정</h3>
</div>


<div class="row">
    <div class="col-12">

        <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-groupprofile-tab" data-toggle="pill" href="#pills-groupprofile" role="tab" aria-controls="pills-groupprofile" aria-selected="true">그룹 프로필 수정</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-grouprule-tab" data-toggle="pill" href="#pills-grouprule" role="tab" aria-controls="pills-grouprule" aria-selected="false">그룹 규칙 수정</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-stf-tab" data-toggle="pill" href="#pills-stf" role="tab" aria-controls="pills-stf" aria-selected="false">권한 설정</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-members-tab" data-toggle="pill" href="#pills-members" role="tab" aria-controls="pills-members" aria-selected="false">멤버 탈퇴</a>
            </li>
        </ul>

    </div>
</div>
<div class="row justify-content-center">

    <div class="col-10 tab-content justify-content-center" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-groupprofile" role="tabpanel" aria-labelledby="pills-groupprofile-tab">
            <br/>

            <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                <div>
                    <div>
                        <div>{{ groupprofileform.group_name | as_crispy_field }}</div>
                        <div><small>그룹 이름을 다시 설정할 수 있습니다.</small></div>
                    </div><br/>
                    <div>
                        <div>{{ groupprofileform.group_bio | as_crispy_field}}</div>
                        <div><small>한줄 그룹 소개를 쓰면 그룹 초대 url에 보여집니다.</small></div>
                    </div><br/>
                    <div>
                        <div>{{ groupprofileform.group_goal | as_crispy_field}}</div>
                    </div><br/>

                    <input type="hidden" name="groupprofilerevise" value="revise">
                    <button type="submit">수정하기</button>
                    </input>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="pills-grouprule" role="tabpanel" aria-labelledby="pills-grouprule-tab">

            <br/>

            <form action="" method="POST">
                {% csrf_token %}

                <label for="grouprule_textarea">그룹 규칙</label>
                <textarea class="form-control" rows="8" id="grouprule_textarea"
                          name="group_rule" value="{{ group.group_rule }}">{{ group.group_rule }}</textarea>

                <br/>
                모임 1회 지각시 벌금 : <input class="form-control" type="number" name="late_penalty" value="{{ group.late_penalty }}" style="width:150px;">
                <div><small>벌금은 숫자로만 써 주세요!</small></div>
                <br/>
                모임 1회 결석시 벌금 : <input class="form-control" type="number" name="abscence_penalty" value="{{ group.abscence_penalty }}" style="width:150px;">
                <div><small>벌금은 숫자로만 써 주세요!</small></div>
                <br/>
                과제 1회 미제출시 벌금 : <input class="form-control" type="number" name="notsubmit_penalty" value="{{ group.notsubmit_penalty }}" style="width:150px;">
                <div><small>벌금은 숫자로만 써 주세요!</small></div>
                <br/>


                <input type="hidden" name="rulerevise" value="revise">
                <button type="submit">수정하기</button>
                </input>

            </form>

        </div>
        <div class="tab-pane fade" id="pills-stf" role="tabpanel" aria-labelledby="pills-stf-tab">
            <br/>

            <h5>스탭 권한 설정</h5>
            <br/>
            <h6>스탭 권한을 가진 구성원은 그룹 설정 메뉴에서 그룹 프로필 수정, 그룹 규칙 수정, 권한 설정(스탭 추가/ 스탭 권한 취소는 스터디장만 가능), 멤버 탈퇴 관리(스터디장과 스탭을 제외한 멤버)를 할 수 있으며,
                공지, 과제, 출석을 생성할 수 있습니다.</h6>
            <br/>
            <ul class="list-group">

                <li class="list-group-item list-group-item-secondary">스터디장</li>
                {% for member in membership_manager %}
                <li class="list-group-item" style="color:dodgerblue;">{{ member.person.nickname }}({{ member.person.username }})</li>
                {% endfor %}
                <li class="list-group-item list-group-item-secondary">
                    스탭
                </li>

                {% for member in membership_staff %}
                <li class="list-group-item" style="color:deepskyblue;">
                    {{ member.person.nickname }}({{ member.person.username }})
                </li>
                {% endfor %}
            </ul>


            <br/>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseSTF" aria-expanded="false" aria-controls="collapseSTF">
                +스탭 추가하기
            </button>
            </p>
            <div class="collapse" id="collapseSTF">
                <div class="card card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% for member in membership_member %}
                        <p>
                            <label>
                                <input class="stfin_checkbox" type="checkbox" name="staffin{{ forloop.counter }}" value="{{ member.person.username }}"/>
                                <span>{{ member.person.nickname }}({{ member.person.username }})</span>
                            </label>
                        </p>
                        <!--              <input type="checkbox" name="staffin" value="{{ member.person.username }}">{{ member.person.username }}</input>-->
                        {% endfor %}
                        <input type="hidden" name="staffin" value="staffin">
                        <button type="submit" id="staffin" onclick="return confirm('선택한 멤버를 스탭으로 추가하겠습니까?');">
                            선택한 구성원을 스탭으로 추가
                        </button>
                        </input>
                    </form>
                </div>

            </div>
        </div>

        <div class="tab-pane fade" id="pills-members" role="tabpanel" aria-labelledby="pills-members-tab">

            <br/>


                <h5 style="font-weight: bold;">멤버 탈퇴 관리</h5>
                <br/>
                <h6>스탭은 스터디장과 스탭을 제외한 일반 멤버만 강퇴시킬 수 있습니다.</h6>
                <br/>

                <ul class="list-group">
                    <li class="list-group-item list-group-item-secondary">스터디장</li>
                    {% for member in membership_manager %}
                    <li class="list-group-item" style="color: dodgerblue;">{{ member.person.nickname }}({{ member.person.username }})</li>
                    {% endfor %}

                    <li class="list-group-item list-group-item-secondary">스탭
                        {% if membership_staff %}
                        {% for member in membership_staff %}
                    <li class="list-group-item" style="color:deepskyblue">{{ member.person.nickname }}({{ member.person.username }})
                    </li>
                    {% endfor %}
                    {% else %}
                    <li class="list-group-item">등록된 스탭이 없습니다.</li>
                    {% endif %}
                    <li class="list-group-item list-group-item-secondary">멤버</li>
                    {% if membership_member %}
                    {% for member in membership_member %}
                    <li class="list-group-item">
                        <form action="" method="POST">
                {% csrf_token %}
                            {{ member.person.nickname }}({{ member.person.username }})
                        <input type="hidden" name="out" value="{{ member.person.username }}">
                        <button style="float: right;" onclick="return confirm('멤버를 강제탈퇴시키면 재가입이 불가능하며, ' +
     '그룹페이지에서 새로운 정보를 생성하지 못합니다. ' +
      '정말 강제탈퇴시키겠습니까?');">강제 탈퇴</button>
                        </input>
                            </form>
                    </li>
                    {% endfor %}
                    {% else %}
                    <li class="list-group-item">등록된 멤버가 없습니다.</li>
                    {% endif %}

                </ul>

        </div>
    </div>
</div>


{% endblock %}
