{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="d-flex flex-row justify-content-start mt-3">
    {% for member in memberships %}
    <div class="card" style="width: 18rem;">
        <ul>
            {% if member.person.img_profile %}
            <li><br/><img src="{{ user.img_profile.url }}" width="10%" height="10%"/></li>
            {% else %}
            <li><br/><img src="{% static 'img/anonym.jpg' %}" width="10%" height="10%"/></li>
            {% endif %}
            <li>그룹 권한 : {{ member.role }}</li>
            <li>닉네임 : {{ member.person.nickname }}</li>
            <li>이메일 : {{ member.person.email }}</li>
            <li>자기소개 : {{ member.person.bio }}</li>
            <li>전화번호 : {{ member.person.phone_number }}</li>
            <li>{{ member.person.nickname }}님의 ㅇㅈ : {{ member.total_admit }}</li>
            <li>{{ member.person.nickname }}님의 벌금 : {{ member.total_penalty }}</li>
            <li>{{ member.person.nickname }}님의 ㅇㅈ 랭킹 : {{ member.rank }}</li>
        </ul>
    </div>
    {% endfor %}
</div>


{% endblock %}