{% extends 'group_base.html' %}

{% block content %}

    <h2>새 과제 업로드</h2>
    <hr/>

    <form action="#" method="POST">
    {% csrf_token %}


        <div class="row col-12">
                <br/>

            <div class="titlencontent col-6"><div>
                    <strong>{{ form.title.label_tag }}</strong>
                    {{ form.title }}
                </div>

            <br/>

            <div>
                <div>
                    <strong>{{ form.content.label_tag }}</strong>
                    {{ form.content }}
                </div>
            </div></div>

            <hr/>

            <div class="duedate col-6">
                <div>
                    <h5 style="font-weight: bold">과제 기한</h5>
                    <hr/>
                </div>

                <div>
                    <strong>{{ form.due_date.label_tag }}</strong>
                    {{ form.due_date }}<br/>
                    <small>화살표를 누르면 달력이 나와요</small>
                </div>
                <br/>

                <div>
                    <strong>이 과제는</strong>
                    <div>
                        {{ form.due_date_ampm }} <br/>{{ form.due_date_hour }}시 {{ form.due_date_minute }}분까지!
                    </div>
                </div>
                <br/>
            </div><br/>

            <div class="mx-auto">
                <button type="submit" class="btn btn-primary">저장</button>
                <button type="submit" class="btn btn-primary" onclick="history.back(-1);">취소</button>
            </div>

         </div>

    </form>

{% endblock %}