{% extends 'group_base.html' %}

{% block content %}

<script src="https://kit.fontawesome.com/6e27c4910b.js"></script>

<style>
    @font-face {
        font-family: 'yg-jalnan';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
</style>

<h3 style="font-family: 'yg-jalnan';">{{ group.group_name }}의 과제 현황 >_<</h3>
<br>

<div class="d-flex justify-content-between">
<div>
<h3 style="font-family: 'yg-jalnan';">과제</h3>
</div>

<div>
    {% if usermembership.is_mn_stf %}
    <a href="{% url 'assignment:assignment_new' group.id%}"><i class="fas fa-book-open"> 과제 등록</i></a>
    {% endif %}
    <a href="{% url 'assignment:assignment_list' group.id%}" style="margin-left: 10px;"><i class="fas fa-list-ul"> 과제 목록</i></a>
</div>
</div>


{% if n_assignment == 0 %}
    등록된 과제가 없습니다 ㅠ_ㅠ
{% else %}
            <table class="table">
                <thead>
                    <tr align="center">
                        <th scope="col">과제명</th>
                        <th scope="col">기한</th>
                        <th scope="col">인증</th>
                    </tr>
                </thead>
                <tbody>
                    {% for assignment in assignments %}
                    <tr align="center">
                        <td><a href="{% url "assignment:assignment_detail" assignment.id %}">{{ assignment.title }}</a> </td>
                        <td>{{ assignment.due_date|date:"Y-m-d H:i" }}까지
                            {% if assignment.due_date <= now %}
                             (기한 지남)
                            {% endif %}</td>
                        <td>{% if user in assignment.submitters %}인증 완료
                            {% else %}
                            <a href="{% url "assignment:done_new" assignment.id %}"
                            {% if assignment.due_date <= now %} disabled{% endif %}"><i class="far fa-check-circle">인증하기</i></a>
                            {% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    {% endif %}

<div class="d-flex justify-content-between mt-5">
    <div>
        <h3 style="font-family: 'yg-jalnan';">인증</h3>
    </div>
    <div>
        <a href="{% url 'assignment:done_list' group.id%}"><i class="fas fa-list-ul"> 목록</i></a>
    </div>
</div>

    {% if n_dones == 0 %}
        등록된 인증이 없습니다 ㅠ_ㅠ
    {% else %}
            <table class="table">
                <thead>
                    <tr align="center">
                        <th scope="col">제목</th>
                        <th scope="col">이미지</th>
                        <th scope="col">인정?</th>
                    </tr>
                </thead>
                <tbody>
                        {% for done in dones %}
                            <tr align="center">
                    <th scope="row">{{ done.assignment.title }}<a href="{% url "assignment:done_detail" done.id %}">
                        <br>{{ done.author.nickname }}님의 인증</a></th>
                    <td><img src="{{ done.done_img.url }}" height="200"/></td>
                    <td>{% if user != done.author %}
                            {% if user in done.injung_check %}
                                이미 ㅇㅈ함
                            {% else %}
                                <a href="{% url "assignment:injung_plus" done.id %}" class="btn btn-primary">인정</a>
                            {% endif %}
                        {% else %}
                            자추 ㄴㄴ
                        {% endif %}</td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
    {% endif %}
{% endblock %}
