{% extends 'group_base.html' %}

{% block content %}
<h1>{{ group.group_name }}의 과제 현황 >_<</h1>

    {% if usermembership.is_mn_stf %}
    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'assignment:assignment_new' group.id%}' ">새 과제 등록</button>
    {% endif %}

    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'assignment:assignment_list' group.id%}' ">새 인증 등록</button>
    <br/>

<h3>과제:</h3>
    <button type="button" class="btn btn-primary" style="float: right" onclick="location.href='{% url 'assignment:assignment_list' group.id%}' ">목록으로</button>


{% if assignments == None %}
    등록된 과제 없음.
{% else %}
            <table class="table">
                <thead>
                    <tr align="center">
                        <th scope="col">과제명</th>
                        <th scope="col">기한</th>
                        <th scope="col">인증</th>
                    </tr>
                </thead>
                <tbody>
                    {% for assignment in assignments %}
                    <tr align="center">
                        <td><a href="{% url "assignment:assignment_detail" assignment.id %}">{{ assignment.title }}</a> </td>
                        <td>{{ assignment.due_date }}까지
                            {% if assignment.due_date <= now %}
                             (기한 지남)
                            {% endif %}</td>
                        <td>{% if user in assignment.submitters %}인증 완료
                            {% else %}
                            <a href="{% url "assignment:done_new" assignment.id %}" class="btn btn-primary">인증하기</a>
                            {% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

    <h3>인증:</h3>     <button type="button" class="btn btn-primary" style="float: right" onclick="location.href='{% url 'assignment:done_list' group.id%}' ">목록으로</button>
    {% if dones == None %}
        등록된 인증 없음. 1빠 해볼까요~~?
    {% else %}
            <table class="table">
                <thead>
                    <tr align="center">
                        <th scope="col">제목</th>
                        <th scope="col">이미지</th>
                        <th scope="col">인정?</th>
                    </tr>
                </thead>
                <tbody>
                        {% for done in dones %}
                            <tr align="center">
                    <th scope="row">{{ done.assignment.title }} 과제에 대한 <a href="{% url "assignment:done_detail" done.id %}">
                        <br>{{ done.author }}님의 인증</a></th>
                    <td><img src="{{ done.done_img.url }}" height="200"/></td>
                    <td>{% if user != done.author %}
                            {% if user in done.injung_check %}
                                이미 ㅇㅈ함
                            {% else %}
                                <a href="{% url "assignment:injung_plus" done.id %}" class="btn btn-primary">인정</a>
                            {% endif %}
                        {% else %}
                            자추 ㄴㄴ
                        {% endif %}</td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
    {% endif %}
{% endif %}
{% endblock %}
