{% extends 'group_base.html' %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message.message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% block content %}

<script src="https://kit.fontawesome.com/6e27c4910b.js"></script>

<style>
    @font-face {
        font-family: 'yg-jalnan';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
</style>


<h3 style="font-family: 'yg-jalnan';">{{ group.group_name }}의 과제 리스트</h3>
<br>

    <div class="d-flex justify-content-end">
        <div>
            <a href="{% url "assignment:assignment_home" group.id %}" style="margin-right: 10px;"><i
                class="fas fa-home"> 과제 홈</i></a>
        </div>
        <div>
            {% if usermembership.is_mn_stf %}
            <a href="{% url 'assignment:assignment_new' group.id%}"><i class="fas fa-book-open"> 과제 등록</i></a>
            {% endif %}
        </div>
    </div>


    {% if num == 0 %}
        <hr/>
        <p>등록된 과제가 없습니다.</p>
    {% else %}
            <table class="table">
                <thead>
                    <tr align="center">
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">기한</th>
                        <th scope="col">인증</th>
                    </tr>
                </thead>
                <tbody>
                        {% for assignment in assignments %}
                    <tr align="center">
                        <th scope="row">{{ assignment.index_in_group }}</th>
                        <td><a href="{% url "assignment:assignment_detail" assignment.id %}">{{ assignment.title }}</a></td>
                        <td>{{ assignment.due_date|date:"Y-m-d H:i" }}{% if assignment.due_date <= now %}(만료){% endif %}</td>
                        <td>{% if user in assignment.submitters %}인증 완료
                            {% else %}
                            <a href="{% url "assignment:done_new" assignment.id %}"
                               {% if assignment.due_date <= now %}style="color: gray"{% endif %}><i class="far fa-check-circle">인증하기</i></a>
                            {% endif %}</td>
                    </tr>
                        {% endfor %}
                </tbody>
            </table>
    {% endif %}
{% endblock %}