{% extends 'group_base.html' %}

{% block content %}

{{ message.message }}

    <h1>{{ assignment.title }}</h1>

{{ assignment.content|linebreaks }}
{{ assignment.due_date }} 까지

    {% if assignment.due_date <= now %}
        (기한 지남) <br/>
    {% endif %}

    {% if user in authors %}
        <p>이미 인증하셨습니다! 멋져요~>_<</p>
    {% else %}
        <button type="button" class="btn btn-primary" onclick="location.href='{% url "assignment:done_new" assignment.id %}'">인증하기</button>
    {% endif %}


{% if membership.role != 'MEMBER' %}
    <a href="{% url "assignment:assignment_edit" assignment.id %}" class="btn btn-primary">수정</a>
    <a href="{% url "assignment:assignment_delete" assignment.id %}" class="btn btn-primary">삭제</a>
{% endif %}

<h2>인증한 사람들 </h2>

{% if num == 0 %}
    아무도 인증하지 않았어요 ㅠ_ㅠ
{% else %}
        <table class="table">
            <thead>
                <tr align="center">
                    <th scope="col">등수</th>
                    <th scope="col">이름</th>
                    <th scope="col">인증 시간</th>
                </tr>
            </thead>
            <tbody>
                {% for done in dones %}
                <tr align="center">
                    <th scope="row">{{ done.index_in_assignment }}등</th>
                    <td><a href="{% url "assignment:done_detail" done.id %}">{{ done.author }}</a></td>
                    <td>{{ done.created_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endif %}

<br><br>
    <button type="button" class="btn btn-primary" style="float: right" onclick="location.href='{% url "assignment:assignment_list" assignment.group.id %}'">과제 목록으로</button>


{% endblock %}


