{% extends 'group_base.html' %}

{% block content %}

<h1>인증의 전당<a href="{% url "assignment:assignment_home" group.id %}" class="btn btn-primary" style="float: right">과제 홈으로</a></h1>

    <div class="card-deck">
    {% for done in dones %}
        <div class="col-4 mt-2">
            <div class="card">
                <img src="{{ done.done_img.url }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold"><a href="{% url "assignment:done_detail" done.id %}">{{ done.author }}{% if user == done.author%}(나){% endif %}님의 인증</a></h5>
                <p class="card-text">{{ done.assignment.title }} 과제에 대한 인증입니다 :) </p>
                <p class="card-text">인증 시간: {{ done.created_at }}</p>

            </div>
            {% if user != done.author %}
            <div class="card-footer">
                    {% if user in done.injung_check %}
                        이미 ㅇㅈ하셨습니다
                     {% else %}
                        <a href="{% url "assignment:injung_plus" done.id %}" class="btn btn-primary">인정</a>
                    {% endif %}
                </div>{% endif %}
        </div>
        </div>
    {% endfor %}
    </div>


{% endblock %}