{{ group.group_name }} 현재 상황 췍!
<br>
- {{ latest_update.created_at }} 기준
<button type="button" onclick="location.href='{% url "check:update" group.id %}'">업데이트</button>


<h1>ㅇㅈ 랭킹</h1>
    {% for member in memberships %}
<table>
        <td>{{ member.rank }}</td>
        <td>{{ member.person }}</td>
        <td>{{ member.total_admit }}</td>
</table>
    {% endfor %}

<h1>벌금 현황</h1>

    {% for member in penalty_list %}
<table>
        <td>{{ member.person }}</td>
        <td>{{ member.total_penalty }}</td>
</table>
    {% endfor %}
